<ul id="menu-horizontal">
 <li> <%= link_to "Descrição", :controller => "estorias", :action => "show", :id => params[:estoria_id] %></li>  
 <li><a href="#">--> Tarefas</a></li>
</ul>
<h1>Editar Tarefa</h1>



<% form_for(@tarefa) do |f| %>
  <%= f.error_messages %>

 
  <p>
    <%= f.label :titulo %> 	
  	<%= f.text_field :titulo %>
  </p>  	
  <p>
    <%= f.label :descricao %>
    <%= f.text_area :descricao %>
  </p>

  <p>  
    <%= f.label :pontos %>
    <%= f.text_field :pontos %>
  </p>  

  <p>
    <%= f.label "Status Atual" %>
	<%= f.select :andamento_id, Andamento.find(:all).collect{ |item| [item.nome_andamento, item.id]} %>
  </p>
    
  <p>
    <%= f.label :data %>
    <%= f.date_select(:data, :order => [:day, :month, :year]) %>
  </p>

  <p>
    <%= f.label :user_login %>
    <%= f.text_field :user_login %>
  </p>
 
  
   <p>
    <%= f.label :estoria_id %>
    <%= f.text_field :estoria_id %>
  </p>
  <p>
    <%= f.submit 'Confirmar' %>
  </p>
<% end %>


<div class="buttons">

<% if current_page?(:controller => 'tarefas', :action => 'edit') %>
<p><%= link_to " <img src='/images/icons/delete.png' alt=""/> Excluir", @tarefa, :confirm => 'Confirma exclusão?', :method => :delete,   :class => "negative" %></p>
<% end %>

<p><%= link_to " <img src='/images/icons/back.png' alt=""/> Voltar", { :controller => 'tarefas', :action => 'index', :estoria_id => @tarefa.estoria_id},  :class => "regular"  %></p>


</div>




