<ul id="menu-horizontal">
 <li><a href="#">Descrição</a></li>
 <li><a href="#">Tarefas</a></li>
</ul>

<h1>Mostrando Tarefa</h1>

<br />

<p>
  <b>Título:</b>
  <%=h @tarefa.titulo %>
</p>testeste

<p>
  <b>Descrição:</b>
  <%=h @tarefa.descricao %>
</p>

<p>
  <b>Pontos:</b>
  <%=h @tarefa.pontos %>
</p>

<p>
  <b>Andamento Atual:</b>
  <%=h @tarefa.andamento_id %>
</p>

<p>
  <b>Data da Conclusão:</b>  <i>só deve aparecer se o campo acima for "Concluído!"</i>
  <%= @tarefa.data.strftime("%d/%m/%y") %>
</p>

<p>
  <b>Estória:</b> <i>deve vir preenchido da tela das estórias</i>
  <%=h @tarefa.estoria_id %>
</p>

<p>
  <b>Login Usuário responsável:</b>
  <%=h @tarefa.user_login %>
</p>


<div class="buttons">
<p><%= link_to " <img src='/images/icons/back.png' alt=""/> Voltar", { :controller => 'tarefas', :action => 'index', :estoria_id => @tarefa.estoria_id},  :class => "regular"  %></p>
<p><%= link_to "<img src='/images/icons/edit.png' alt=""/> Editar", { :controller => 'tarefas', :action => 'edit', :id => @tarefa.id, :estoria_id => @tarefa.estoria_id}, :class => "regular" %></p>
<p><%= link_to " <img src='/images/icons/delete.png' alt=""/> Excluir",tarefa_path, :confirm => 'Confirma exclusão?', :method => :delete,   :class => "negative" %></p>
</div>







