<h1>Bem Vindo!</h1>

<div id="login_form">
	

<% form_tag session_path do -%>
<p><%= label_tag 'login' %>
<%= text_field_tag 'login', @login %></p>

<p><%= label_tag 'senha' %>
<%= password_field_tag 'password', nil %></p>


<%= submit_tag 'Log in' %><br/><br/>
<%= check_box_tag 'remember_me', '1', @remember_me %><i>Lembrar-se</i><br/>
<i><%= link_to "não está cadastrado?", signup_path, { :title => "Criar uma conta" } %></i>
</div>
<% end -%>
