<h1>Cadastrar novo Sprint</h1>
<br/>

<% form_for(@sprint) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :dtinicio %>
    <%= f.date_select :dtinicio %>
  </p>
  <p>
    <%= f.label :dtfim %>
    <%= f.date_select :dtfim %>
  </p>
  <p>
    <%= f.label :pontos %>
    <%= f.text_field :pontos, :size => 20, :maxlength => 3 %>
  </p>
  <p>
    <%= f.label :objetivo %>
    <%= f.text_area :objetivo %>
  </p>

<div class="buttons">
	<p><%= link_to " <img src='/images/icons/back.png' alt=""/> Voltar", sprints_path, :class => "regular"  %></p>
	<p>	<%= f.submit "Confirmar" %>	</p>
</div>

<% end %>