<h1>Visualizando Sprint <%=h@sprint.id %></h1>
<% if !@estoria.sprint_id.nil?  %> 	
	<i><p id="info_sprint">Esta estória faz parte do Sprint <%= @estoria.sprint_id %> </p></i>
<% end %> 

<p>
  <b>Dtinicio:</b>
  <%=h @sprint.dtinicio %>
</p>

<p>
  <b>Dtfim:</b>
  <%=h @sprint.dtfim %>
</p>

<p>
  <b>Pontos:</b>
  <%=h @sprint.pontos %>
</p>

<p>
  <b>Objetivo:</b>
  <%=h @sprint.objetivo %>
</p>

<% if Time.now.to_date >= @sprint.dtfim %>
<fieldset id="retrospectiva">
    <legend>Retrospectiva:</legend>
	<p> 
  		<b>O que foi bom?</b>
  		<%=h @sprint.ret_bom %>
	</p>

	<p>
  		<b>O que foi Ruim?</b>
  		<%=h @sprint.ret_ruim %>
	</p>
</fieldset>
<% end %>

<%= link_to 'Editar', edit_sprint_path(@sprint) %> |
<%= link_to 'Voltar', sprints_path %>