<% form_for(@estoria) do |f| %>
  <%= f.error_messages %>	
	
	<h4>Titulo</h4>
	<%= f.text_field :titulo %>
	
	<h4>Descricao</h4>
	<%= f.text_area :descricao %>
	
	<h4>Categoria</h4>
	<%= f.select :categoria_id, Categoria.find(:all).collect{ |item| [item.nome_categoria, item.id]} %>
	
	<h4>Data</h4>
	<%= f.date_select(:data, :order => [:day, :month, :year]) %>
	<br />
	<p>
	<%= f.submit "Confirmar" %>
	</p>
	</br>

<% end %>