  <tr>
  	<td><%=h estoria.id %></td>
    <td><%=h estoria.titulo %></td>
    <td><%=h  Categoria.find(estoria.categoria_id).nome_categoria %></td>
    <td><img src="/images/gui/percentImage.png" alt=" <%= percentagem_tarefas_concluidas(:estoria_id => estoria.id, :tipo => 1) %>%" class="percentImage" style="background-position: -<%= percentagem_tarefas_concluidas(:estoria_id => estoria.id, :tipo => 2) %>px 0pt;" />&nbsp;</td>


    
    <% if !estoria.sprint_id.nil?  %> 	
		<td id="info_sprint_cell"><%=h estoria.sprint_id %> </td>
	<% else %>
		<td> - </td>
	<% end %> 
   <% if !estoria.data.nil?  %> 	
  		<td id="info_sprint_cell"><%= estoria.data.strftime("%d/%m/%y") %></td>
	<% else %>
		<td> não concluído </td>
	<% end %> 
	
    <td><%= link_to '<img src="/images/icons/show.png" >', estoria %></td>
    <td><%= link_to '<img src="/images/icons/edit.png" >', edit_estoria_path(estoria) %></td>
    <td><%= link_to '<img src="/images/icons/delete.png" >', estoria, :confirm => 'Deseja realmente deletar esta estória e todas as suas tarefas?', :method => :delete %></td>
  </tr>
