<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="pt-BR">

<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
	<meta http-equiv="Content-Language" content="pt-BR"/>
	<meta name="language" content="pt-BR"/>
	
	<link rel="shortcut icon" href="favicon.png"/>
	<%= stylesheet_link_tag 'style' %>
	<%=javascript_include_tag 'jquery-1.4.2.min.js', 'jquery-ui-1.8.custom.min.js' %>

	<script type="text/javascript">
		$(function() {
		//getter
		$("#navigation").accordion({collapsible: true});
		$("#navigation").accordion( 'activate' , false );
	});
	</script>
	<!--[if  IE 8]>
		<style type="text/css">
			#wrap {display:table;}
		</style>
	<![endif]-->
	
	<title>RuM - Scrum Project Manager</title>
</head>

<body>

	<div id="wrap">
		<div id="navigation">
	
		   <h3  class="active"><a title="Configurações referentes ao Scrum" href="">Scrum</a></h3>
				<div id="menu_items">
					<p><%= link_to 'Product Backlog', estorias_path %></p>
					<p><%= link_to 'Sprints', sprints_path %></p>
					<p><a >Indicadores</a></p>
				</div>
			<h3 class="active"><a title="Reuniões e artefatos do Sprint" href="">Sprint</a></h3>
				<div id="menu_items">
					<p><%= link_to 'Sprint Backlog', sprints_path %></p>
					<p>Board</p>
					<p>Burndown</p>
				</div>
			<h3 class="active"><a title="Customizações e preferências" href="">Preferências</a></h3>
				<div id="menu_items">
					<p>Configurações</p>
					<p>Projetos</p>
					<p>Usuários</p>
				</div>
			<h3 class="active"><a title="Blog sobre o projeto" href="">Blog</a></h3>
				<div id="menu_items">
					<p>Product Backlog</p>
				</div>
			<h3 class="active"><a title="Informações a respeito da ferramenta RuM" href="">Sobre</a></h3>
				<div id="menu_items">
				<p>About</p>
				<p>Ajuda</p>
				</div>
		</div>
	
	
		<div id="content">
			
			
			<%= yield %>
			
		</div>
	</div>

	<div id="footer">
		<div class="footer-section-1">
		<h3>informe-se</h3>
			<ul>
				<li>Acompanhe nosso <a href="testestestes">blog</a></li>
				<li>Siga o projeto no <a href="http://twitter.com/railsscrum">twitter</a></li>
				<li>Baixe este projeto no <a href="http://github.com/ivanhtp/RailsScrum">git</a></li>
			</ul>
		</div>

		<div class="footer-section-2">
			<h3>extras</h3>
			 
			<p>Acharei alguma coisa interessante pra escrever aqui ainda</p>
		</div>
	</div>

</body>

</html>