<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">

<HTML xmlns="http://www.w3.org/1999/xhtml" xml:lang="pt-BR">

<HEAD>
	<META http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<META http-equiv="Content-Language" content="pt-BR">
	<META name="language" content="pt-BR">
	
	<LINK rel="shortcut icon" href="http://scrollmagazine.com/wp-content/themes/scroll-magazine-new/images/favicon.png">
	<LINK rel="stylesheet" href="./css/style.css" type="text/css">
	<%= stylesheet_link_tag 'style' %>
	<%=javascript_include_tag 'jquery-1.4.2.min.js' %>
	<%=javascript_include_tag 'jquery-ui-1.8.custom.min.js' %>	

	<SCRIPT type="text/javascript">
		$(function() {
		var icons = {
			header: "ui-icon-circle-arrow-e",
			headerSelected: "ui-icon-circle-arrow-s"
		};
		$("#navigation").accordion({
			icons: icons
		});
		$("#toggle").button().toggle(function() {
			$("#navigation").accordion("option", "icons", false);
		}, function() {
			$("#navigation").accordion("option", "icons", icons);
		});
	});
	</SCRIPT>
	<SCRIPT> $('#dialog').dialog(); </SCRIPT>
	

	<TITLE>RuM - Scrum Project Manager</TITLE>
</HEAD>

<BODY class="home number-2">

	<DIV id="header">
		<A id="logo" title="Scroll over to the home page" href="./Scroll Magazine_files/Scroll Magazine.htm">
		<IMG src="./Scroll Magazine_files/scroll-logo-trans.png" alt="Rails+Scrum Logos" width="1005" height="96"></A>
	</DIV>
	


	<DIV id="navigation">
		<h3  class="active"><A title="Configurações referentes ao Scrum" href="">Scrum</A></h3>
			<div id="menu_items">
				<p><%= link_to 'Product Backlog', new_estoria_path %></p>
				<p>Sprints</p>
				<p>Indicadores</p>
			</div>
		<h3 <A title="Reuniões e artefatos do Sprint" href="">Sprint</A></h3>
			<div id="menu_items">
				<p>Sprint Backlog</p>
				<p>Board</p>
				<p>Burndown</p>
			</div>
		<h3 <A title="Customizações e preferências" href="">Preferências</A></h3>
			<div id="menu_items">
				<p>Configurações</p>
				<p>Projetos</p>
				<p>Usuários</p>
			</div>
		<h3 <A title="Blog sobre o projeto" href="">Blog</A></h3>
			<div id="menu_items">
				<p>Product Backlog</p>
			</div>
		<h3 <A title="Informações a respeito da ferramenta RuM" href="">Sobre</A></h3>
			<div id="menu_items">
			<p>Product Backlog</p>
			</div>
	</DIV>


	<DIV id="content">	
		
		<% unless flash[:aviso].blank? %>
			<div id="aviso"> <%= flash[:aviso] %> </div>
		<% end %>
		
		<%= yield %>
		

		<OL class="contents">
			
		</OL>

	</DIV>

	<DIV id="footer">
		<DIV class="footer-section-1">
		<H3>informe-se</H3>
			<UL>
				<LI>Assine nossa <A href="testestestes">newsletter</A></LI>
				<LI>Siga o projeto no <A href="http://twitter.com/railsscrum">twitter</A></LI>
				<LI>Baixe este projeto no <A href="http://github.com/ivanhtp/RailsScrum">git</A></LI>
			</UL>
	</DIV>

	<DIV class="footer-section-2">
			<H3>extras</H3>
			 

			<P>Acharei alguma coisa interessante pra escrever aqui ainda</P>

		
	</DIV>	

	<P id="copyright">Copyright 2010 - Ivan Henrique Tavares Pauletti</P>
</DIV>


<DIV style="z-index: -1; position:absolute; top:0px; left: 0px; width: 100%; height: auto"></DIV>

</BODY>

</HTML>